/* fnb */
footer {
    position: relative;
    
}
footer div.wrap {
 max-width: 1120px;
}
footer div.wrap::before{
  content:'';
  background-color:#f7f8f9;
  width: 100%;
  height: 310px;
  display: block;
  position: absolute;
  left:0;
  top:0;
  z-index:-1;
  
}
footer div.wrap h1 {
 
}
footer div.wrap ul.fnb {
 
  margin-bottom: 50px;
  justify-content: space-between;
  line-height: 1.4;

}
footer div.wrap ul.fnb>li {
 
/*   width: calc(100% / 5); */
}
footer div.wrap ul.fnb>li:nth-child(1){
  
  width: calc(100% / 3.5);
}
footer div.wrap ul.fnb>li h2 {
 
  margin-bottom: 20px;
}
footer div.wrap ul.fnb>li h2 a{
    
  position: relative;
  display: inline-block;
}
footer div.wrap ul.fnb>li h2 a:before{
  content: ""; /* 가상 요소 내용 */
  position: absolute; /* 절대 위치 설정 */
  top: 0; /* 텍스트의 상단과 맞춤 */
  left: 0; /* 텍스트의 좌측과 맞춤 */
  right: 0; /* 텍스트의 우측과 맞춤 */
  bottom: 0; /* 텍스트의 하단과 맞춤 */
  background-color: transparent; /* 초기 배경색 투명 */
  transition: all 0.1s ease-in-out; /* 모든 속성의 전환 애니메이션 */
  z-index: -1; /* 텍스트 뒤에 배치 */
}

footer div.wrap ul.fnb>li h2 a:hover::before{
  background-color: rgba(139,149,161,.1);
  border-radius: 5px;
  top: -5px; /* 위쪽으로 5px 확장 */
  bottom: -5px; /* 아래쪽으로 5px 확장 */
  left: -10px; /* 왼쪽으로 5px 확장 */
  right: -10px; /* 오른쪽으로 5px 확장 */
  background-color: rgba(139,149,161,.1); /* 배경색 설정 */
}
footer div.wrap ul.fnb>li ul {
 
  flex-wrap: wrap;
  line-height: 2.5;
}
footer div.wrap ul.fnb>li ul li {
 
}
footer div.wrap ul.fnb > li:nth-child(1) ul li{
  width: calc(100% / 2)
}
footer div.wrap ul.fnb>li ul li a {
  position: relative; /* 가상 요소의 기준점을 잡기 위해 설정 */
  display: inline-block; /* 텍스트 크기만큼만 요소 크기를 설정 */
  color: #8d97a3;
}
footer div.wrap ul.fnb>li ul li a:after{
  content: ""; /* 가상 요소 내용 */
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 텍스트의 수직 중앙을 기준 */
  left: 50%; /* 텍스트의 수평 중앙을 기준 */
  width: 100%; /* 텍스트의 너비 */
  height: 100%; /* 텍스트의 높이 */
  background-color: transparent; /* 초기 배경색 투명 */
  transform: translate(-50%, -50%); /* 중앙 기준으로 이동 */
  transition: all 0.1s ease-in-out; /* 모든 속성의 전환 애니메이션 */
  z-index: -1; /* 텍스트 뒤에 배치 */
}
footer div.wrap ul.fnb>li ul li a:hover{
  border-radius: 5px;
  width: calc(100% - 60px); /* 좌우로 5px씩 확장 */
  height: calc(100% + 10px); /* 위아래로 5px씩 확장 */
  background-color: rgba(139,149,161,.1); /* 배경색 설정 */
}
/* fnb2  */
footer div.wrap ul.fnb2 {
 
  padding-top: 30px;
  grid-template-columns: repeat(6, auto) 1fr;
  margin-bottom: 30px;
}
footer div.wrap ul.fnb2 li {
 
}
footer div.wrap ul.fnb2 li:last-child{
  justify-self: right;
}
footer div.wrap ul.fnb2 li a {
 
  line-height: 2;
  padding: 0 10px;
  color: #8d97a3;
}
footer div.wrap ul.fnb2 li a:hover{
   background-color: rgba(139,149,161,.1);
  block-size: fit-content;
  border-radius: 5px;
}
footer div.wrap ul.fnb2 li:last-child a::after{
  content:'';
  background-image: url(../img/plus.svg);
  display: inline-block;
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
  background-position-y: 3px;
  background-size: contain;
  margin-left: 2px;
}
footer div.wrap ul.fnb2 li:nth-child(3) a{
  font-weight: 700;
  color: black;
}
footer div.wrap ul.fnb2 > li:nth-child(1) a{
  padding-left:0;
}
/* sns */
footer div.wrap ul.sns {
 gap:10px;
  margin-bottom: 20px;
}
footer div.wrap ul.sns li {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div.wrap ul.sns li a {
 
  font-size: 0;
  width: 64px;
  height: 18px;
  background-image: url(../img/sns1.png);
  background-size: cover;
  
}
footer div.wrap ul.sns li a:hover {
 background-position-y: -18px;
}
footer div.wrap ul.sns li:not(:first-child) a{
  width:28px;
  background-image: url(../img/sns234.png);
  height: 28px;
  background-size: 300% 200%;
}
footer div.wrap ul.sns li:not(:first-child) a:hover{
  background-position-y: -28px;
}
footer div.wrap ul.sns li:nth-child(3) a{
   background-position-x: -100%;
  
}
footer div.wrap ul.sns li:nth-child(4) a{
   background-position-x: -200%;
  
}
/* address  */
footer div.wrap address {
 
  color: #8d97a3;
  font-size: 13px;
  line-height: 1.5;
}