/* 메인 영역_알툴즈 제품 */
main{
    padding: 0 60px;
 
}
section#product {
 
}
section#product div.wrap {
 max-width: initial;
}
section#product div.wrap h2 {
 
}
section#product div.wrap ul {
 justify-content: space-between;
 gap: 20px;
}
section#product div.wrap ul li {
 width:calc(100% / 8);
}
section#product div.wrap ul li a {
 background-color: #ffffff;
 border-radius: 18px;
 height: 100px;
 line-height: 1.5;
 box-shadow: 0 0 2px rgba(0,0,0,.08),4px 12px 36px rgba(0,0,0,.09);
}
section#product div.wrap ul li a figure {
 gap: 10px;
 justify-content: center;
 align-items: center;
 height: 100%;
}
section#product div.wrap ul li a figure img {
 width: 44px;
 height: 44px;
}
section#product div.wrap ul li a figure figcaption {
 
}
section#product div.wrap ul li a figure figcaption h3 {
 
    margin-bottom: 5px;
}
section#product div.wrap ul li a figure figcaption h3::after{
    content:'';
    width: 6px;
    height: 6px;
    display:inline-block;
    transform: translateY(-2px) translateX(3px) rotate(45deg); 
    border: 2px solid;
    border-left: transparent;
    border-bottom: transparent;
}
section#product div.wrap ul li a figure figcaption p {
 
}